{
    "presets": [
        ["env",{
            "targets": {
                "browsers": [
                    ">2%",
                    "last 2 versions",
                    "safari >=7"
                ],
                "loose": true,
                "useBuiltIns": true,
                "debug": true
            }
        }],
        "react"
    ],
    "plugins": [
        "transform-class-properties"
    ]
}